body {
    background-color: lightgrey;
}

.App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.header-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.header-name {
    text-align: start;
}

.header-date {
    text-align: end;
}

.list-header {
    text-align: center;
    font-size: 1.5em;
    padding-top: 0.5em;
}

p {
    margin: 0px;
}

.hr-padding {
    padding-bottom: 0.5em;
}

.card {
    background-color: white;
    margin: 0.5em;
    border-radius: 0.2em;
}

.content-container {
    display: flex;
    flex-flow: column;
}

.container1 {
    display: flex;
    flex-flow: column;
}

@media only screen and (min-width: 1025px) {
    .App{
        padding: 10em 15em;
        flex-flow: row nowrap;
        align-items: flex-start;
    }

    .content-container {
        padding: 0 5em;
    }

    .container1 {
        flex-flow: row;
    }

    .card {
        margin: 1.8em 1em;
    }

    .list-header {
        font-size: 2em;
    }
}
@media only screen and (max-width: 700px) {
    .header-container {
        flex-flow: column;
    }
    .header-date {
        text-align: start;
    }
}